
<nav class=" px-2 pb-2 w-full">
  <div class="flex flex-wrap items-center justify-between mx-auto bg-blue-50 py-2 px-2">
    <a href="https://flowbite.com/" class="flex items-center">
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Overview</span>
    </a>

    <div class="hidden w-full md:block md:w-auto" >
      <ul class="font-medium flex flex-col  md:p-0  md:flex-row md:space-x-4 md:mt-0 ">
        <li>
          <a class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 " >
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="./../../../assets/dashboard-icons/Settings.svg" alt="Settings">
          </a>
        </li>
        <li>
          <a class="flex mx-3 text-sm  rounded-full md:mr-0 focus:ring-4  " >
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="./../../../assets/dashboard-icons/Notification.svg" alt="Notification">
          </a>
        </li>
        <li>
          <a class="flex mx-3 text-sm  rounded-full md:mr-0 focus:ring-4  " >
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="./../../../assets/img.png" alt="user photo">
          </a>
        </li>
        <li>
          <a class="flex mx-3 text-sm  rounded-full md:mr-0 focus:ring-4  px-3" >
            <p class="text-white mt-2">Zouhaier Barrouta</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

